.container {
  max-width: 1200px !important;
}

.btn {
  width: 150px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}


.workout-detail-page {
  padding-top: 40px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ratio {
  border-radius: 10px;
  overflow: hidden;
}

.card-title {
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
